annotated-types
anyio
cachetools
certifi
charset-normalizer
click
colorama
fastapi
filetype
google-ai-generativelanguage
google-api-core
google-auth
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httpx
idna
jsonpatch
jsonpointer
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
mysql
mysqlclient
orjson
packaging
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pydantic
pydantic_core
PyMySQL
python-dotenv
PyYAML
requests
requests-toolbelt
rsa
sniffio
SQLAlchemy
starlette
tenacity
typing-inspection
typing_extensions
urllib3
uvicorn
zstandard
jinja2
